body {
    background-color:  	#F5F5F5;
    margin: 20px;
    max-width: 190px;
}

#logo{
    align-content: center;
}

#logo p{
    margin-top: -4px;
    font-weight: bold;
}

#logo-image{
    background: url(/icons/logo-48.png) ;
    padding-top: 65px;
    margin-left: 25%;
    background-repeat: no-repeat;    
}
#image-text{
    color:black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

button {
    background-color: #808080;
    border: none;
    color: white;
    padding: 2px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}

#popup-content{
    width: 150px;
}

.action{
    background-color: #4CAF50;
}
